header {
    width: 100%;
    height: auto;
    background-color:white;
    margin-top:-34px;
}
body {
    font-family: courgette;
    background-color:darkgrey;
}
#header-img {
    margin-top:-100px;
    width:100%;
    height: auto;
    max-width: 240px;
}
h1 {
    color:salmon;
    text-align:center;
    font-size: 50px;
}
@media (max-width: 600px) {
   
    header {
        width:100%;
        height:auto;
    }
    #header-img {
        width:200px;
        height: auto;
        margin-top: 10px;
        display:inline;
     
    }
    nav {
        width:100%;
        height:auto;
        position:relative;
        right: 100px;
        top:100px;
    }
    ul {
        display:block;
        position: relative;
        top:-200px;
    }
        #phone {
            margin-right:100px;
        }
    
}
@media (max-width: 768px) {
    #header-img {
        width: 230px;
        height: 200px;
        margin-top: 20px;
        display:inline;
    }
    nav {
        position: relative;
        
        bottom: 120px;

    }
    
}

h2 {
    color:sandybrown;
    text-align:center;
    
}
nav {
	opacity: 0.9;
	height: 40px;
	margin-left: 330px;
	margin-top: -40px;
	border-right-radius: 30px;
	font-family: Courgette;
}
ul {
	list-style-type: none;
	display: inline;
}
ul li {
	float: left;
	width: 200px;
	height: 35px;
	font-color: #fff;
	text-align: center;
	border-radius: 10px;
	background-color: #1a1a1a;
}
ul li:hover {
	background-color: black;
	color: red;
}
ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	display: inline;
	font-weight: 900;
}
ul li ul {
	display: none;
}
ul li ul li {
	width: 150px;
	height: 40px;
	margin-right: -5px;
	margin-top: -9px;
}
ul li:hover ul {
	display: block;
}