body {
  font-family: Courgette;
}
header {
  z-index: 5;
  background-color: white;
  position: sticky;
    top: 0px;
    width: 100%;
    

}
#title {
    color:#68c0b9;
    text-align:center;
    font-size: 50px;
    position: relative;
    top:250px;
}
#title2 {
    color:#68c0b9;
    text-align:center;
    position: relative;
    top:250px;
    font-size:40px;
}
#header-img {
  width:auto;
  height:50px;
  display: inline-block;
}
#image {
  display:flex;
  justify-content: center;
  align-items: cneter;
}
nav {
  width:100%;
  height: 45px;
  background-color:#68c0b9 ;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.nav-link {
  color:white;
  font-size:24px;
  text-decoration: none;
  margin-right: 60px;
}
.nav-link:hover {
  color:black;
}

#input {
   float:right;
}
#search {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  border:0.5px solid rgb(126, 126, 124);
  outline-style: none;
}
#SB{
  margin-left: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border-style: none;
  color: black;
  font-weight:bolder;
  float:right;
  border:black solid 2px;
}
#SB:hover {
  background-color: black;
  color:white;
  cursor:pointer;
  border:white solid 2px;

}
#back-page {
  background-image: url(back-pic.jpg);
  background-size:cover;
  width:auto;
  height:450px;
  margin-top:-35px;
}
@media only screen and (max-width: 768px){
  #back-page {
 width:100%;
 height:250px;
}
 #title {
   position:relative;
   top:130px;
   font-size:25px;
 }
 #title2 {
   position: relative;
   top:140px;
   font-size:20px;
 }

}
.products {
  font-size: 35px;
  color:darkgrey;
  position: relative;
  bottom:20px;

}
.product
{ display: grid;
  background-color:rgb(238, 238, 238);
}
.product:hover {
  box-shadow:3px 3px 3px 3px black;
  cursor: pointer;
  background-color: rgb(199, 194, 194);
}
.lines {
  display:inline-block;
  width:86%;
  border-bottom: 10px solid darkgrey;
  border-radius: 10px;
  margin-top:40px;
  margin-bottom: 20px;
}
.container {
  display:grid;
  grid-template-columns:auto auto auto ;
  grid-gap:40px;  
  width:80%;

  

}

.grid-img {
  width:300px;
  height:300px;
}
.level {
  text-align:center;
  

}
.items {
  text-align:center;
  margin:6px;
  font-size:20px;
}
h2 {
  text-align: center;
  margin:5px;
}
#other-line {
     width: 75%;
}
  #video-div{
    display: flex;
    justify-content: center;
}
#video {
    width: 60%;

}
footer {
  width: 100%;
  height:200px;
  background-color: rgb(49, 61, 82);
  display: flex;
  justify-content: center;
  align-items: center;
}
#form {
  margin-top:-100px;
}

#submit {
margin-left: 10px;
width: 80px;
height: 30px;
border-radius: 5px;
background-color: #68c0b9;
border-style: none;
color: white;
display:flex;
justify-content: center;
align-items: center;
position: relative;
right:-530px;
top:-31px;

}
.footer-link {
  color:white;
  font-size:20px;
  margin-right:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right:140px;
}
@media only screen and (max-width: 768px) {

  .products {
    position:relative;
    bottom:20px;
    font-size:15px;
    
  }
  .lines {
    width:80%;

  }
  #other-line {
   width:70%;
  }
  
}
@media only screen and (max-width: 768px) {

  
    .level {
      font-size:5px;
    }
    p.items {
      font-size:10px;
    }
    .grid-img {
      width: 90px;
      height:90px;
    }
    h2 {
      font-size:15px;
    }
      #submit {
        position: relative;
        left:300px;
        width:50px;

      }
      .footer-link {
        font-size:15px;
      }
  }
}

